.root {
    -fx-background-image: url("images/baloons.jpg");
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-font-size: 20px;
    -fx-pref-width: 350px;
}
#go{
    -fx-background-color: red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

